@use '../theme';

.main {
	position: relative;
	width: 100%;
	margin: 45px 40px;

	font-weight: 400;
	font-size: 10.24px;
	line-height: 12px;
}

.divider {
	width: inherit;
	height: 0px;
	left: 40px;
	top: 286px;

	border: 1px solid theme.$guide-color;
}
